# 01. Import Libraries

In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os

In [2]:
# Create a path to make it easier to import files
path = r'/Users/Luca2/Documents/Dropbox/Mein Mac (Air-von-Luca.fritz.box)/Desktop/World Happiness Report'

# 02. Import Data Sets

In [3]:
df_2018 = pd.read_csv(os.path.join (path, '02 Data', 'Original Data', '2018.csv'), index_col = False)
df_2019 = pd.read_csv(os.path.join (path, '02 Data', 'Original Data', '2019.csv'), index_col = False)
df_2020 = pd.read_csv(os.path.join (path, '02 Data', 'Original Data', '2020.csv'), index_col = False)
df_2021 = pd.read_csv(os.path.join (path, '02 Data', 'Original Data', '2021.csv'), index_col = False)
df_2022 = pd.read_csv(os.path.join (path, '02 Data', 'Original Data', '2022.csv'), index_col = False)
df_2023 = pd.read_csv(os.path.join (path, '02 Data', 'Original Data', '2023.csv'), index_col = False)

# 03. Data Wrangling

## 2018 Data:

In [4]:
df_2018.head()

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340
2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408
3,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138
4,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357

In [5]:
# Rename the columns 
df_2018 = df_2018.rename(columns = { 'Overall rank': 'Happiness Rank', 'Country or region' : 'Country', 'Score' : 'Happiness Score' , 'GDP per capita' : 'Economy (GDP per Capita)', 'Healthy life expectancy': 'Health (Life Expectancy)', 'Freedom to make life choices': 'Freedom (Life Choices)', 'Perceptions of corruption': 'Perceptions of Corruption', 'Social support': 'Social Support' })

In [6]:
# Check the changed column names 
df_2018.head()

,Happiness Rank,Country,Happiness Score,Economy (GDP per Capita),Social Support,Health (Life Expectancy),Freedom (Life Choices),Generosity,Perceptions of Corruption
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340
2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408
3,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138
4,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357

In [7]:
# Add a column for the year
df_2018['Year'] = 2018

In [8]:
# Descriptive statistics (check for irregularities)
df_2018.describe()

,Happiness Rank,Happiness Score,Economy (GDP per Capita),Social Support,Health (Life Expectancy),Freedom (Life Choices),Generosity,Perceptions of Corruption,Year
count,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,155.000000,156.0
mean,78.500000,5.375917,0.891449,1.213237,0.597346,0.454506,0.181006,0.112000,2018.0
std,45.177428,1.119506,0.391921,0.302372,0.247579,0.162424,0.098471,0.096492,0.0
min,1.000000,2.905000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2018.0
25%,39.750000,4.453750,0.616250,1.066750,0.422250,0.356000,0.109500,0.051000,2018.0
50%,78.500000,5.378000,0.949500,1.255000,0.644000,0.487000,0.174000,0.082000,2018.0
75%,117.250000,6.168500,1.197750,1.463000,0.777250,0.578500,0.239000,0.137000,2018.0
max,156.000000,7.632000,2.096000,1.644000,1.030000,0.724000,0.598000,0.457000,2018.0

In [9]:
# Reorder the columns to a more intuative order
df_2018 = df_2018.reindex(columns =  ['Country', 'Year', 'Happiness Rank', 'Happiness Score', 'Economy (GDP per Capita)', 'Social Support', 'Health (Life Expectancy)', 'Freedom (Life Choices)', 'Generosity', 'Perceptions of Corruption'])

In [10]:
# Check the reorder of the columns
df_2018.head()

,Country,Year,Happiness Rank,Happiness Score,Economy (GDP per Capita),Social Support,Health (Life Expectancy),Freedom (Life Choices),Generosity,Perceptions of Corruption
0,Finland,2018,1,7.632,1.305,1.592,0.874,0.681,0.202,0.393
1,Norway,2018,2,7.594,1.456,1.582,0.861,0.686,0.286,0.340
2,Denmark,2018,3,7.555,1.351,1.590,0.868,0.683,0.284,0.408
3,Iceland,2018,4,7.495,1.343,1.644,0.914,0.677,0.353,0.138
4,Switzerland,2018,5,7.487,1.420,1.549,0.927,0.660,0.256,0.357

In [11]:
# Check the datatypes to know that it is going to match when the dataframes get merged 
df_2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Country                    156 non-null    object
 1   Year                       156 non-null    int64
 2   Happiness Rank             156 non-null    int64
 3   Happiness Score            156 non-null    float64
 4   Economy (GDP per Capita)   156 non-null    float64
 5   Social Support             156 non-null    float64
 6   Health (Life Expectancy)   156 non-null    float64
 7   Freedom (Life Choices)     156 non-null    float64
 8   Generosity                 156 non-null    float64
 9   Perceptions of Corruption  155 non-null    float64
dtypes: float64(7), int64(2), object(1)
memory usage: 12.3+ KB

#### It has to be noted that there is one country without an entry for 'Perceptions of Corruption'

In [12]:
# Checking which country is missing 
df_2018[df_2018['Perceptions of Corruption'].isnull()]

,Country,Year,Happiness Rank,Happiness Score,Economy (GDP per Capita),Social Support,Health (Life Expectancy),Freedom (Life Choices),Generosity,Perceptions of Corruption
19,United Arab Emirates,2018,20,6.774,2.096,0.776,0.67,0.284,0.186,NaN

## 2019 Data:

In [13]:
df_2019.head()

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298

In [14]:
# Rename the columns 
df_2019 = df_2019.rename(columns = { 'Overall rank': 'Happiness Rank', 'Country or region' : 'Country', 'Score' : 'Happiness Score' , 'GDP per capita' : 'Economy (GDP per Capita)', 'Healthy life expectancy': 'Health (Life Expectancy)', 'Freedom to make life choices': 'Freedom (Life Choices)', 'Perceptions of corruption': 'Perceptions of Corruption', 'Social support': 'Social Support' })

In [15]:
# Checking the changed column names 
df_2019.head()

,Happiness Rank,Country,Happiness Score,Economy (GDP per Capita),Social Support,Health (Life Expectancy),Freedom (Life Choices),Generosity,Perceptions of Corruption
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298

In [16]:
# Add a column for the year
df_2019['Year'] = 2019

In [17]:
# Descriptive statistics (check for irregularities)
df_2019.describe()

,Happiness Rank,Happiness Score,Economy (GDP per Capita),Social Support,Health (Life Expectancy),Freedom (Life Choices),Generosity,Perceptions of Corruption,Year
count,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,156.0
mean,78.500000,5.407096,0.905147,1.208814,0.725244,0.392571,0.184846,0.110603,2019.0
std,45.177428,1.113120,0.398389,0.299191,0.242124,0.143289,0.095254,0.094538,0.0
min,1.000000,2.853000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2019.0
25%,39.750000,4.544500,0.602750,1.055750,0.547750,0.308000,0.108750,0.047000,2019.0
50%,78.500000,5.379500,0.960000,1.271500,0.789000,0.417000,0.177500,0.085500,2019.0
75%,117.250000,6.184500,1.232500,1.452500,0.881750,0.507250,0.248250,0.141250,2019.0
max,156.000000,7.769000,1.684000,1.624000,1.141000,0.631000,0.566000,0.453000,2019.0

In [18]:
# Reorder the columns 
df_2019 = df_2019.reindex(columns =  ['Country', 'Year', 'Happiness Rank', 'Happiness Score', 'Economy (GDP per Capita)', 'Social Support', 'Health (Life Expectancy)', 'Freedom (Life Choices)', 'Generosity', 'Perceptions of Corruption'])

In [19]:
df_2019.head()

,Country,Year,Happiness Rank,Happiness Score,Economy (GDP per Capita),Social Support,Health (Life Expectancy),Freedom (Life Choices),Generosity,Perceptions of Corruption
0,Finland,2019,1,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,Denmark,2019,2,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,Norway,2019,3,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,Iceland,2019,4,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,Netherlands,2019,5,7.488,1.396,1.522,0.999,0.557,0.322,0.298

In [20]:
# Check the reorder of the columns
df_2019.head()

,Country,Year,Happiness Rank,Happiness Score,Economy (GDP per Capita),Social Support,Health (Life Expectancy),Freedom (Life Choices),Generosity,Perceptions of Corruption
0,Finland,2019,1,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,Denmark,2019,2,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,Norway,2019,3,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,Iceland,2019,4,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,Netherlands,2019,5,7.488,1.396,1.522,0.999,0.557,0.322,0.298

In [21]:
# Check the datatypes to know that it is going to match when the dataframes get merged 
df_2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Country                    156 non-null    object
 1   Year                       156 non-null    int64
 2   Happiness Rank             156 non-null    int64
 3   Happiness Score            156 non-null    float64
 4   Economy (GDP per Capita)   156 non-null    float64
 5   Social Support             156 non-null    float64
 6   Health (Life Expectancy)   156 non-null    float64
 7   Freedom (Life Choices)     156 non-null    float64
 8   Generosity                 156 non-null    float64
 9   Perceptions of Corruption  156 non-null    float64
dtypes: float64(7), int64(2), object(1)
memory usage: 12.3+ KB

# 2020 Data:

In [22]:
df_2020.head()

,Country name,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
0,Finland,Western Europe,7.8087,0.031156,7.869766,7.747634,10.639267,0.954330,71.900825,0.949172,-0.059482,0.195445,1.972317,1.285190,1.499526,0.961271,0.662317,0.159670,0.477857,2.762835
1,Denmark,Western Europe,7.6456,0.033492,7.711245,7.579955,10.774001,0.955991,72.402504,0.951444,0.066202,0.168489,1.972317,1.326949,1.503449,0.979333,0.665040,0.242793,0.495260,2.432741
2,Switzerland,Western Europe,7.5599,0.035014,7.628528,7.491272,10.979933,0.942847,74.102448,0.921337,0.105911,0.303728,1.972317,1.390774,1.472403,1.040533,0.628954,0.269056,0.407946,2.350267
3,Iceland,Western Europe,7.5045,0.059616,7.621347,7.387653,10.772559,0.974670,73.000000,0.948892,0.246944,0.711710,1.972317,1.326502,1.547567,1.000843,0.661981,0.362330,0.144541,2.460688
4,Norway,Western Europe,7.4880,0.034837,7.556281,7.419719,11.087804,0.952487,73.200783,0.955750,0.134533,0.263218,1.972317,1.424207,1.495173,1.008072,0.670201,0.287985,0.434101,2.168266

#### It was checked which values roughly correspond to the values from the previous years. Therefore, the column "Social support" was also deleted, even though its name exactly matches the column from the previous year.

In [23]:
# Delete the columns that are not included in the previous dataframes
# The Region column is still included for further usage

df_2020 = df_2020.drop(columns= ['Standard error of ladder score', 'upperwhisker', 'lowerwhisker', 'Logged GDP per capita', 'Social support', 'Healthy life expectancy', 'Freedom to make life choices', 'Generosity', 'Ladder score in Dystopia', 'Perceptions of corruption', 'Dystopia + residual'])

In [24]:
df_2020.head()

,Country name,Regional indicator,Ladder score,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption
0,Finland,Western Europe,7.8087,1.285190,1.499526,0.961271,0.662317,0.159670,0.477857
1,Denmark,Western Europe,7.6456,1.326949,1.503449,0.979333,0.665040,0.242793,0.495260
2,Switzerland,Western Europe,7.5599,1.390774,1.472403,1.040533,0.628954,0.269056,0.407946
3,Iceland,Western Europe,7.5045,1.326502,1.547567,1.000843,0.661981,0.362330,0.144541
4,Norway,Western Europe,7.4880,1.424207,1.495173,1.008072,0.670201,0.287985,0.434101

In [26]:
# Rename the columns 
df_2020 = df_2020.rename(columns = {'Country name' : 'Country', 'Regional indicator' : 'Region', 'Ladder score': 'Happiness Score' , 'Explained by: Log GDP per capita' : 'Economy (GDP per Capita)', 'Explained by: Healthy life expectancy': 'Health (Life Expectancy)', 'Explained by: Freedom to make life choices': 'Freedom (Life Choices)', 'Explained by: Generosity': 'Generosity' , 'Explained by: Perceptions of corruption': 'Perceptions of Corruption', 'Explained by: Social support': 'Social Support' })

In [29]:
#Check the column names

df_2020.head()

,Country,Region,Happiness Score,Economy (GDP per Capita),Social Support,Health (Life Expectancy),Freedom (Life Choices),Generosity,Perceptions of Corruption
0,Finland,Western Europe,7.8087,1.285190,1.499526,0.961271,0.662317,0.159670,0.477857
1,Denmark,Western Europe,7.6456,1.326949,1.503449,0.979333,0.665040,0.242793,0.495260
2,Switzerland,Western Europe,7.5599,1.390774,1.472403,1.040533,0.628954,0.269056,0.407946
3,Iceland,Western Europe,7.5045,1.326502,1.547567,1.000843,0.661981,0.362330,0.144541
4,Norway,Western Europe,7.4880,1.424207,1.495173,1.008072,0.670201,0.287985,0.434101

In [30]:
# Add a column for the year

df_2020['Year'] = 2020

In [31]:
# Add the column 'Happiness Rank'

df_2020['Happiness Rank'] = df_2020['Happiness Score'].rank(ascending=False).astype(int)

In [32]:
# Check the changes

df_2020.head()

,Country,Region,Happiness Score,Economy (GDP per Capita),Social Support,Health (Life Expectancy),Freedom (Life Choices),Generosity,Perceptions of Corruption,Year,Happiness Rank
0,Finland,Western Europe,7.8087,1.285190,1.499526,0.961271,0.662317,0.159670,0.477857,2020,1
1,Denmark,Western Europe,7.6456,1.326949,1.503449,0.979333,0.665040,0.242793,0.495260,2020,2
2,Switzerland,Western Europe,7.5599,1.390774,1.472403,1.040533,0.628954,0.269056,0.407946,2020,3
3,Iceland,Western Europe,7.5045,1.326502,1.547567,1.000843,0.661981,0.362330,0.144541,2020,4
4,Norway,Western Europe,7.4880,1.424207,1.495173,1.008072,0.670201,0.287985,0.434101,2020,5

In [33]:
# Descriptive statistics (check for irregularities)
df_2020.describe()

,Happiness Score,Economy (GDP per Capita),Social Support,Health (Life Expectancy),Freedom (Life Choices),Generosity,Perceptions of Corruption,Year,Happiness Rank
count,153.00000,153.000000,153.000000,153.000000,153.000000,153.000000,153.000000,153.0,153.000000
mean,5.47324,0.868771,1.155607,0.692869,0.463583,0.189375,0.130718,2020.0,77.000000
std,1.11227,0.372416,0.286866,0.254094,0.141172,0.100401,0.113097,0.0,44.311398
min,2.56690,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2020.0,1.000000
25%,4.72410,0.575862,0.986718,0.495443,0.381457,0.115006,0.055805,2020.0,39.000000
50%,5.51500,0.918549,1.203987,0.759818,0.483293,0.176745,0.098435,2020.0,77.000000
75%,6.22850,1.169229,1.387139,0.867249,0.576665,0.255510,0.163064,2020.0,115.000000
max,7.80870,1.536676,1.547567,1.137814,0.693270,0.569814,0.533162,2020.0,153.000000

In [34]:
# Reorder the columns 
df_2020 = df_2020.reindex(columns =  ['Country','Region', 'Year', 'Happiness Rank', 'Happiness Score', 'Economy (GDP per Capita)', 'Social Support', 'Health (Life Expectancy)', 'Freedom (Life Choices)', 'Generosity', 'Perceptions of Corruption'])

In [36]:
# Check the changes
df_2020.head()

,Country,Region,Year,Happiness Rank,Happiness Score,Economy (GDP per Capita),Social Support,Health (Life Expectancy),Freedom (Life Choices),Generosity,Perceptions of Corruption
0,Finland,Western Europe,2020,1,7.8087,1.285190,1.499526,0.961271,0.662317,0.159670,0.477857
1,Denmark,Western Europe,2020,2,7.6456,1.326949,1.503449,0.979333,0.665040,0.242793,0.495260
2,Switzerland,Western Europe,2020,3,7.5599,1.390774,1.472403,1.040533,0.628954,0.269056,0.407946
3,Iceland,Western Europe,2020,4,7.5045,1.326502,1.547567,1.000843,0.661981,0.362330,0.144541
4,Norway,Western Europe,2020,5,7.4880,1.424207,1.495173,1.008072,0.670201,0.287985,0.434101

In [37]:
# Check the datatypes to know that it is going to match when the dataframes get merged 
df_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153 entries, 0 to 152
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Country                    153 non-null    object
 1   Region                     153 non-null    object
 2   Year                       153 non-null    int64
 3   Happiness Rank             153 non-null    int64
 4   Happiness Score            153 non-null    float64
 5   Economy (GDP per Capita)   153 non-null    float64
 6   Social Support             153 non-null    float64
 7   Health (Life Expectancy)   153 non-null    float64
 8   Freedom (Life Choices)     153 non-null    float64
 9   Generosity                 153 non-null    float64
 10  Perceptions of Corruption  153 non-null    float64
dtypes: float64(7), int64(2), object(2)
memory usage: 13.3+ KB

# 2021 Data:

In [38]:
df_2021.head()

,Country name,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
0,Finland,Western Europe,7.842,0.032,7.904,7.780,10.775,0.954,72.0,0.949,-0.098,0.186,2.43,1.446,1.106,0.741,0.691,0.124,0.481,3.253
1,Denmark,Western Europe,7.620,0.035,7.687,7.552,10.933,0.954,72.7,0.946,0.030,0.179,2.43,1.502,1.108,0.763,0.686,0.208,0.485,2.868
2,Switzerland,Western Europe,7.571,0.036,7.643,7.500,11.117,0.942,74.4,0.919,0.025,0.292,2.43,1.566,1.079,0.816,0.653,0.204,0.413,2.839
3,Iceland,Western Europe,7.554,0.059,7.670,7.438,10.878,0.983,73.0,0.955,0.160,0.673,2.43,1.482,1.172,0.772,0.698,0.293,0.170,2.967
4,Netherlands,Western Europe,7.464,0.027,7.518,7.410,10.932,0.942,72.4,0.913,0.175,0.338,2.43,1.501,1.079,0.753,0.647,0.302,0.384,2.798

In [39]:
# Delete columns 

df_2021 = df_2021.drop(columns= ['Standard error of ladder score', 'upperwhisker', 'lowerwhisker', 'Logged GDP per capita', 'Social support', 'Healthy life expectancy', 'Freedom to make life choices', 'Generosity', 'Ladder score in Dystopia', 'Perceptions of corruption', 'Dystopia + residual'])

In [40]:
#Check the column names

df_2021.head()

,Country name,Regional indicator,Ladder score,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption
0,Finland,Western Europe,7.842,1.446,1.106,0.741,0.691,0.124,0.481
1,Denmark,Western Europe,7.620,1.502,1.108,0.763,0.686,0.208,0.485
2,Switzerland,Western Europe,7.571,1.566,1.079,0.816,0.653,0.204,0.413
3,Iceland,Western Europe,7.554,1.482,1.172,0.772,0.698,0.293,0.170
4,Netherlands,Western Europe,7.464,1.501,1.079,0.753,0.647,0.302,0.384

In [41]:
# Rename the columns 
df_2021 = df_2021.rename(columns = {'Country name' : 'Country', 'Regional indicator' : 'Region', 'Ladder score': 'Happiness Score' , 'Explained by: Log GDP per capita' : 'Economy (GDP per Capita)', 'Explained by: Healthy life expectancy': 'Health (Life Expectancy)', 'Explained by: Freedom to make life choices': 'Freedom (Life Choices)', 'Explained by: Generosity': 'Generosity' , 'Explained by: Perceptions of corruption': 'Perceptions of Corruption', 'Explained by: Social support': 'Social Support' })

In [42]:
# Add column for the year 
df_2021 ['Year'] = 2021

In [43]:
# Add the column 'Happiness Rank'

df_2021['Happiness Rank'] = df_2021['Happiness Score'].rank(ascending=False).astype(int)

In [44]:
# Check the changes

df_2021.head()

,Country,Region,Happiness Score,Economy (GDP per Capita),Social Support,Health (Life Expectancy),Freedom (Life Choices),Generosity,Perceptions of Corruption,Year,Happiness Rank
0,Finland,Western Europe,7.842,1.446,1.106,0.741,0.691,0.124,0.481,2021,1
1,Denmark,Western Europe,7.620,1.502,1.108,0.763,0.686,0.208,0.485,2021,2
2,Switzerland,Western Europe,7.571,1.566,1.079,0.816,0.653,0.204,0.413,2021,3
3,Iceland,Western Europe,7.554,1.482,1.172,0.772,0.698,0.293,0.170,2021,4
4,Netherlands,Western Europe,7.464,1.501,1.079,0.753,0.647,0.302,0.384,2021,5

In [45]:
# Descriptive statistics (check for irregularities)
df_2021.describe()

,Happiness Score,Economy (GDP per Capita),Social Support,Health (Life Expectancy),Freedom (Life Choices),Generosity,Perceptions of Corruption,Year,Happiness Rank
count,149.000000,149.000000,149.000000,149.000000,149.000000,149.000000,149.000000,149.0,149.000000
mean,5.532839,0.977161,0.793315,0.520161,0.498711,0.178047,0.135141,2021.0,74.986577
std,1.073924,0.404740,0.258871,0.213019,0.137888,0.098270,0.114361,0.0,43.159194
min,2.523000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2021.0,1.000000
25%,4.852000,0.666000,0.647000,0.357000,0.409000,0.105000,0.060000,2021.0,38.000000
50%,5.534000,1.025000,0.832000,0.571000,0.514000,0.164000,0.101000,2021.0,75.000000
75%,6.255000,1.323000,0.996000,0.665000,0.603000,0.239000,0.174000,2021.0,112.000000
max,7.842000,1.751000,1.172000,0.897000,0.716000,0.541000,0.547000,2021.0,149.000000

In [46]:
# Reorder the columns 
df_2021 = df_2021.reindex(columns =  ['Country','Region', 'Year', 'Happiness Rank', 'Happiness Score', 'Economy (GDP per Capita)', 'Social Support', 'Health (Life Expectancy)', 'Freedom (Life Choices)', 'Generosity', 'Perceptions of Corruption'])

In [47]:
# Check the changes 
df_2021.head()

,Country,Region,Year,Happiness Rank,Happiness Score,Economy (GDP per Capita),Social Support,Health (Life Expectancy),Freedom (Life Choices),Generosity,Perceptions of Corruption
0,Finland,Western Europe,2021,1,7.842,1.446,1.106,0.741,0.691,0.124,0.481
1,Denmark,Western Europe,2021,2,7.620,1.502,1.108,0.763,0.686,0.208,0.485
2,Switzerland,Western Europe,2021,3,7.571,1.566,1.079,0.816,0.653,0.204,0.413
3,Iceland,Western Europe,2021,4,7.554,1.482,1.172,0.772,0.698,0.293,0.170
4,Netherlands,Western Europe,2021,5,7.464,1.501,1.079,0.753,0.647,0.302,0.384

In [48]:
# Check the datatypes to know that it is going to match when the dataframes get merged 
df_2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Country                    149 non-null    object
 1   Region                     149 non-null    object
 2   Year                       149 non-null    int64
 3   Happiness Rank             149 non-null    int64
 4   Happiness Score            149 non-null    float64
 5   Economy (GDP per Capita)   149 non-null    float64
 6   Social Support             149 non-null    float64
 7   Health (Life Expectancy)   149 non-null    float64
 8   Freedom (Life Choices)     149 non-null    float64
 9   Generosity                 149 non-null    float64
 10  Perceptions of Corruption  149 non-null    float64
dtypes: float64(7), int64(2), object(2)
memory usage: 12.9+ KB

# 2022 Data:

In [49]:
df_2022.head()

,RANK,Country,Happiness score,Whisker-high,Whisker-low,Dystopia (1.83) + residual,Explained by: GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption
0,1,Finland,7.821,7.886,7.756,2.518,1.892,1.258,0.775,0.736,0.109,0.534
1,2,Denmark,7.636,7.710,7.563,2.226,1.953,1.243,0.777,0.719,0.188,0.532
2,3,Iceland,7.557,7.651,7.464,2.320,1.936,1.320,0.803,0.718,0.270,0.191
3,4,Switzerland,7.512,7.586,7.437,2.153,2.026,1.226,0.822,0.677,0.147,0.461
4,5,Netherlands,7.415,7.471,7.359,2.137,1.945,1.206,0.787,0.651,0.271,0.419

In [50]:
# Delete columns 

df_2022 = df_2022.drop(columns= ['Whisker-high', 'Whisker-low', 'Dystopia (1.83) + residual'])

In [51]:
# Add Year Column 
df_2022 ['Year'] = 2022

In [52]:
# Rename the columns 
df_2022 = df_2022.rename(columns = {'RANK':'Happiness Rank','Happiness score': 'Happiness Score' , 'Explained by: GDP per capita' : 'Economy (GDP per Capita)', 'Explained by: Healthy life expectancy': 'Health (Life Expectancy)', 'Explained by: Freedom to make life choices': 'Freedom (Life Choices)', 'Explained by: Generosity': 'Generosity' , 'Explained by: Perceptions of corruption': 'Perceptions of Corruption', 'Explained by: Social support': 'Social Support' })

In [53]:
# Reorder the columns 
df_2022 = df_2022.reindex(columns =  ['Country', 'Year', 'Happiness Rank', 'Happiness Score', 'Economy (GDP per Capita)', 'Social Support', 'Health (Life Expectancy)', 'Freedom (Life Choices)', 'Generosity', 'Perceptions of Corruption'])

In [54]:
# Check the changes
df_2022.head()

,Country,Year,Happiness Rank,Happiness Score,Economy (GDP per Capita),Social Support,Health (Life Expectancy),Freedom (Life Choices),Generosity,Perceptions of Corruption
0,Finland,2022,1,7.821,1.892,1.258,0.775,0.736,0.109,0.534
1,Denmark,2022,2,7.636,1.953,1.243,0.777,0.719,0.188,0.532
2,Iceland,2022,3,7.557,1.936,1.320,0.803,0.718,0.270,0.191
3,Switzerland,2022,4,7.512,2.026,1.226,0.822,0.677,0.147,0.461
4,Netherlands,2022,5,7.415,1.945,1.206,0.787,0.651,0.271,0.419

In [55]:
# Descriptive statistics (check for irregularities)
df_2022.describe()

,Year,Happiness Rank,Happiness Score,Economy (GDP per Capita),Social Support,Health (Life Expectancy),Freedom (Life Choices),Generosity,Perceptions of Corruption
count,146.0,146.000000,146.000000,146.000000,146.000000,146.000000,146.000000,146.000000,146.000000
mean,2022.0,73.500000,5.553575,1.410445,0.905863,0.586171,0.517226,0.147377,0.154781
std,0.0,42.290661,1.086843,0.421663,0.280122,0.176336,0.145859,0.082799,0.127514
min,2022.0,1.000000,2.404000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2022.0,37.250000,4.888750,1.095500,0.732000,0.463250,0.440500,0.089000,0.068250
50%,2022.0,73.500000,5.568500,1.445500,0.957500,0.621500,0.543500,0.132500,0.119500
75%,2022.0,109.750000,6.305000,1.784750,1.114250,0.719750,0.626000,0.197750,0.198500
max,2022.0,146.000000,7.821000,2.209000,1.320000,0.942000,0.740000,0.468000,0.587000

In [56]:
# Check the datatypes to know that it is going to match when the dataframes get merged 
df_2022.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146 entries, 0 to 145
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Country                    146 non-null    object
 1   Year                       146 non-null    int64
 2   Happiness Rank             146 non-null    int64
 3   Happiness Score            146 non-null    float64
 4   Economy (GDP per Capita)   146 non-null    float64
 5   Social Support             146 non-null    float64
 6   Health (Life Expectancy)   146 non-null    float64
 7   Freedom (Life Choices)     146 non-null    float64
 8   Generosity                 146 non-null    float64
 9   Perceptions of Corruption  146 non-null    float64
dtypes: float64(7), int64(2), object(1)
memory usage: 11.5+ KB

# 2023 Data:

In [57]:
df_2023.head()

,Country name,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
0,Finland,7.804,0.036,7.875,7.733,10.792,0.969,71.150,0.961,-0.019,0.182,1.778,1.888,1.585,0.535,0.772,0.126,0.535,2.363
1,Denmark,7.586,0.041,7.667,7.506,10.962,0.954,71.250,0.934,0.134,0.196,1.778,1.949,1.548,0.537,0.734,0.208,0.525,2.084
2,Iceland,7.530,0.049,7.625,7.434,10.896,0.983,72.050,0.936,0.211,0.668,1.778,1.926,1.620,0.559,0.738,0.250,0.187,2.250
3,Israel,7.473,0.032,7.535,7.411,10.639,0.943,72.697,0.809,-0.023,0.708,1.778,1.833,1.521,0.577,0.569,0.124,0.158,2.691
4,Netherlands,7.403,0.029,7.460,7.346,10.942,0.930,71.550,0.887,0.213,0.379,1.778,1.942,1.488,0.545,0.672,0.251,0.394,2.110

### It is surprising that Israel is rising to the top 5 of the happiest countries in the year 2023. It has to be noted that the score is a composite of the previous surveys and presumably doesn't accurately reflect the situation at the moment.

In [58]:
# Delete columns 

df_2023 = df_2023.drop(columns= ['Standard error of ladder score', 'upperwhisker', 'lowerwhisker', 'Logged GDP per capita','Social support', 'Healthy life expectancy', 'Freedom to make life choices','Generosity', 'Perceptions of corruption','Ladder score in Dystopia','Dystopia + residual'])

In [59]:
# Change column names 

df_2023 = df_2023.rename(columns = {'Country name': 'Country', 'Ladder score': 'Happiness Score' , 'Explained by: Log GDP per capita' : 'Economy (GDP per Capita)', 'Explained by: Healthy life expectancy': 'Health (Life Expectancy)', 'Explained by: Freedom to make life choices': 'Freedom (Life Choices)', 'Explained by: Generosity': 'Generosity' , 'Explained by: Perceptions of corruption': 'Perceptions of Corruption', 'Explained by: Social support': 'Social Support' })

In [60]:
# Add Year and Happiness Ranking

df_2023 ['Year'] = 2023

df_2023['Happiness Rank'] = df_2023['Happiness Score'].rank(ascending=False).astype(int)

In [61]:
# Check the changes
df_2023.head()

,Country,Happiness Score,Economy (GDP per Capita),Social Support,Health (Life Expectancy),Freedom (Life Choices),Generosity,Perceptions of Corruption,Year,Happiness Rank
0,Finland,7.804,1.888,1.585,0.535,0.772,0.126,0.535,2023,1
1,Denmark,7.586,1.949,1.548,0.537,0.734,0.208,0.525,2023,2
2,Iceland,7.530,1.926,1.620,0.559,0.738,0.250,0.187,2023,3
3,Israel,7.473,1.833,1.521,0.577,0.569,0.124,0.158,2023,4
4,Netherlands,7.403,1.942,1.488,0.545,0.672,0.251,0.394,2023,5

In [62]:
# Reorder the columns 
df_2023 = df_2023.reindex(columns=['Country', 'Year', 'Happiness Rank', 'Happiness Score', 'Economy (GDP per Capita)', 'Social Support', 'Health (Life Expectancy)', 'Freedom (Life Choices)', 'Generosity', 'Perceptions of Corruption'])

In [63]:
# Check changes
df_2023.head()

,Country,Year,Happiness Rank,Happiness Score,Economy (GDP per Capita),Social Support,Health (Life Expectancy),Freedom (Life Choices),Generosity,Perceptions of Corruption
0,Finland,2023,1,7.804,1.888,1.585,0.535,0.772,0.126,0.535
1,Denmark,2023,2,7.586,1.949,1.548,0.537,0.734,0.208,0.525
2,Iceland,2023,3,7.530,1.926,1.620,0.559,0.738,0.250,0.187
3,Israel,2023,4,7.473,1.833,1.521,0.577,0.569,0.124,0.158
4,Netherlands,2023,5,7.403,1.942,1.488,0.545,0.672,0.251,0.394

In [64]:
# Descriptive statistics (check for irregularities)
df_2023.describe()

,Year,Happiness Rank,Happiness Score,Economy (GDP per Capita),Social Support,Health (Life Expectancy),Freedom (Life Choices),Generosity,Perceptions of Corruption
count,137.0,137.000000,137.000000,137.000000,137.000000,136.000000,137.000000,137.000000,137.000000
mean,2023.0,68.978102,5.539796,1.406985,1.156212,0.366176,0.540000,0.148474,0.145898
std,0.0,39.698212,1.139929,0.432963,0.326322,0.156691,0.149501,0.076053,0.126723
min,2023.0,1.000000,1.859000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2023.0,35.000000,4.724000,1.099000,0.962000,0.248500,0.455000,0.097000,0.060000
50%,2023.0,69.000000,5.684000,1.449000,1.227000,0.389500,0.557000,0.137000,0.111000
75%,2023.0,103.000000,6.334000,1.798000,1.401000,0.487500,0.656000,0.199000,0.187000
max,2023.0,137.000000,7.804000,2.200000,1.620000,0.702000,0.772000,0.422000,0.561000

In [65]:
# Check the datatypes to know that it is going to match when the dataframes get merged 
df_2023.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 137 entries, 0 to 136
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Country                    137 non-null    object
 1   Year                       137 non-null    int64
 2   Happiness Rank             137 non-null    int64
 3   Happiness Score            137 non-null    float64
 4   Economy (GDP per Capita)   137 non-null    float64
 5   Social Support             137 non-null    float64
 6   Health (Life Expectancy)   136 non-null    float64
 7   Freedom (Life Choices)     137 non-null    float64
 8   Generosity                 137 non-null    float64
 9   Perceptions of Corruption  137 non-null    float64
dtypes: float64(7), int64(2), object(1)
memory usage: 10.8+ KB

# 04. Merging the Data Sets

In [66]:
df_merged = pd.concat([df_2018, df_2019, df_2020,df_2021,df_2022,df_2023])

In [67]:
df_merged.head()

,Country,Year,Happiness Rank,Happiness Score,Economy (GDP per Capita),Social Support,Health (Life Expectancy),Freedom (Life Choices),Generosity,Perceptions of Corruption,Region
0,Finland,2018,1,7.632,1.305,1.592,0.874,0.681,0.202,0.393,NaN
1,Norway,2018,2,7.594,1.456,1.582,0.861,0.686,0.286,0.340,NaN
2,Denmark,2018,3,7.555,1.351,1.590,0.868,0.683,0.284,0.408,NaN
3,Iceland,2018,4,7.495,1.343,1.644,0.914,0.677,0.353,0.138,NaN
4,Switzerland,2018,5,7.487,1.420,1.549,0.927,0.660,0.256,0.357,NaN

In [68]:
# Fill the missing region entries

df_merged['Region'] = df_merged.groupby('Country')['Region'].transform(lambda x: x.ffill().bfill())

In [69]:
# Check if the regions have been filled 

df_merged.head()

,Country,Year,Happiness Rank,Happiness Score,Economy (GDP per Capita),Social Support,Health (Life Expectancy),Freedom (Life Choices),Generosity,Perceptions of Corruption,Region
0,Finland,2018,1,7.632,1.305,1.592,0.874,0.681,0.202,0.393,Western Europe
1,Norway,2018,2,7.594,1.456,1.582,0.861,0.686,0.286,0.340,Western Europe
2,Denmark,2018,3,7.555,1.351,1.590,0.868,0.683,0.284,0.408,Western Europe
3,Iceland,2018,4,7.495,1.343,1.644,0.914,0.677,0.353,0.138,Western Europe
4,Switzerland,2018,5,7.487,1.420,1.549,0.927,0.660,0.256,0.357,Western Europe

In [70]:
# Reorder the columns
df_merged = df_merged.reindex(columns = ['Country', 'Region', 'Year', 'Happiness Rank', 'Happiness Score', 'Economy (GDP per Capita)', 'Social Support', 'Health (Life Expectancy)', 'Freedom (Life Choices)', 'Generosity', 'Perceptions of Corruption'])

In [71]:
# Check the changes

df_merged.head()

,Country,Region,Year,Happiness Rank,Happiness Score,Economy (GDP per Capita),Social Support,Health (Life Expectancy),Freedom (Life Choices),Generosity,Perceptions of Corruption
0,Finland,Western Europe,2018,1,7.632,1.305,1.592,0.874,0.681,0.202,0.393
1,Norway,Western Europe,2018,2,7.594,1.456,1.582,0.861,0.686,0.286,0.340
2,Denmark,Western Europe,2018,3,7.555,1.351,1.590,0.868,0.683,0.284,0.408
3,Iceland,Western Europe,2018,4,7.495,1.343,1.644,0.914,0.677,0.353,0.138
4,Switzerland,Western Europe,2018,5,7.487,1.420,1.549,0.927,0.660,0.256,0.357

In [72]:
df_merged.shape

(897, 11)

# 05. Data Consistency

## Missing values:

In [73]:
# Check for missing values
df_merged.isnull().sum()

Country                       0
Region                       45
Year                          0
Happiness Rank                0
Happiness Score               0
Economy (GDP per Capita)      0
Social Support                0
Health (Life Expectancy)      1
Freedom (Life Choices)        0
Generosity                    0
Perceptions of Corruption     1
dtype: int64

### There seems to be some missing values in the Region column als well as the previously identified missing value in the Perceptions of Corruption column.

In [74]:
# Checking to see if the missing value is still the same 

df_merged[df_merged['Perceptions of Corruption'].isnull()]

,Country,Region,Year,Happiness Rank,Happiness Score,Economy (GDP per Capita),Social Support,Health (Life Expectancy),Freedom (Life Choices),Generosity,Perceptions of Corruption
19,United Arab Emirates,Middle East and North Africa,2018,20,6.774,2.096,0.776,0.67,0.284,0.186,NaN

### The value in this column is still the previously identified one.

In [75]:
# Checking the mising values in the Region column

print(df_merged[df_merged['Region'].isnull()][['Country', 'Year']])
pd.set_option('display.max_rows', None)

                      Country  Year
25                     Taiwan  2018
31                      Qatar  2018
37          Trinidad & Tobago  2018
48                     Belize  2018
57            Northern Cyprus  2018
75                  Hong Kong  2018
96                     Bhutan  2018
97                    Somalia  2018
136                     Sudan  2018
141                    Angola  2018
149                     Syria  2018
24                     Taiwan  2019
28                      Qatar  2019
38          Trinidad & Tobago  2019
63            Northern Cyprus  2019
75                  Hong Kong  2019
94                     Bhutan  2019
111                   Somalia  2019
148                     Syria  2019
5                 Luxembourg*  2022
17                    Czechia  2022
38                 Guatemala*  2022
49                    Kuwait*  2022
64                   Belarus*  2022
77              Turkmenistan*  2022
78              North Cyprus*  2022
85                     Libya*  2022
91                Azerbaijan*  2022
92                    Gambia*  2022
96                   Liberia*  2022
98                      Congo  2022
103                    Niger*  2022
115                  Comoros*  2022
121  Palestinian Territories*  2022
124     Eswatini, Kingdom of*  2022
127               Madagascar*  2022
129                     Chad*  2022
131                    Yemen*  2022
132               Mauritania*  2022
140                  Lesotho*  2022
141                 Botswana*  2022
142                   Rwanda*  2022
17                    Czechia  2023
98         State of Palestine  2023
105                   Turkiye  2023

### After checking the missing values it is clear that there are multiple reasons why the Region column might be missing for a country:  

### 1. The name of the country has been changed for different years (Taiwan, Northern Cyprus, Trinidad & Tobago, Hongkong, Czechia, State of Palestine, Turkiye).

### 2.  An asterik has been added to a country ("*"), so the country names dont match up.

### 3. The country is only in present in some of the years and not in the years where a region is assigned to the countries (2020 & 2021).

In [76]:
# Changing the country names to a unique format
df_merged['Country'] = df_merged['Country'].replace({
    'Taiwan Province of China': 'Taiwan',
    'Northern Cyprus': 'North Cyprus',
    'Trinidad & Tobago': 'Trinidad and Tobago',
    'Hong Kong S.A.R. of China': 'Hong Kong',
    'Czechia': 'Czech Republic',
    'Palestinian Territories': 'State of Palestine',
    'Turkey': 'Turkiye'
}, regex=True)

In [77]:
# Drop the asterik from the 2022 Region column

df_merged['Country'] = df_merged['Country'].str.replace('*', '', regex=False)

In [78]:
# Fill in the missing Region columns again
df_merged['Region'] = df_merged.groupby('Country')['Region'].transform(lambda x: x.ffill().bfill())

In [79]:
# Checking the mising values in the Region column

print(df_merged[df_merged['Region'].isnull()][['Country', 'Year']])
pd.set_option('display.max_rows', None)

                  Country  Year
31                  Qatar  2018
48                 Belize  2018
96                 Bhutan  2018
97                Somalia  2018
136                 Sudan  2018
141                Angola  2018
149                 Syria  2018
28                  Qatar  2019
94                 Bhutan  2019
111               Somalia  2019
148                 Syria  2019
98                  Congo  2022
124  Eswatini, Kingdom of  2022

In [80]:
# Change the name of Eswatini
df_merged['Country'] = df_merged['Country'].replace('Eswatini, Kingdom of', 'Eswatini')

In [81]:
# Assign a Region to the remaining countries
df_merged.loc[df_merged['Country'] == 'Qatar', 'Region'] = 'Middle East and North Africa'
df_merged.loc[df_merged['Country'] == 'Belize', 'Region'] = 'Latin America and Caribbean'
df_merged.loc[df_merged['Country'] == 'Bhutan', 'Region'] = 'South Asia'
df_merged.loc[df_merged['Country'] == 'Somalia', 'Region'] = 'Sub-Saharan Africa'
df_merged.loc[df_merged['Country'] == 'Sudan', 'Region'] = 'Sub-Saharan Africa'
df_merged.loc[df_merged['Country'] == 'Angola', 'Region'] = 'Sub-Saharan Africa'
df_merged.loc[df_merged['Country'] == 'Syria', 'Region'] = 'Middle East and North Africa'
df_merged.loc[df_merged['Country'] == 'Congo', 'Region'] = 'Sub-Saharan Africa'
df_merged.loc[df_merged['Country'] == 'Eswatini', 'Region'] = 'Sub-Saharan Africa'

In [82]:
print(df_merged[df_merged['Region'].isnull()][['Country', 'Year']])

Empty DataFrame
Columns: [Country, Year]
Index: []

### There are two different countries named congo in the dataframe, distinguished by their capital in brackets. The entry for 2022 is only included as "congo". By checking the rankings of the other years it is evident that this has to be an entry for country 'Congo (Brazzaville)'.

In [83]:
# Rename the countries for clarity 

df_merged.loc[df_merged['Country'] == 'Congo (Brazzaville)', 'Country'] = 'Republic of the Congo'


df_merged.loc[df_merged['Country'] == 'Congo', 'Country'] = 'Republic of the Congo'


df_merged.loc[df_merged['Country'] == 'Congo (Kinshasa)', 'Country'] = 'Democratic Republic of the Congo'

In [84]:
# Check if 'Congo' is still in the dataframe
df_merged[df_merged['Country'] == 'Congo']

Empty DataFrame
Columns: [Country, Region, Year, Happiness Rank, Happiness Score, Economy (GDP per Capita), Social Support, Health (Life Expectancy), Freedom (Life Choices), Generosity, Perceptions of Corruption]
Index: []

In [85]:
df_merged['Country'].value_counts().loc[['Republic of the Congo', 'Democratic Republic of the Congo']]

Republic of the Congo               6
Democratic Republic of the Congo    4
Name: Country, dtype: int64

In [87]:
# Check for missing values again
df_merged.isnull().sum()

Country                      0
Region                       0
Year                         0
Happiness Rank               0
Happiness Score              0
Economy (GDP per Capita)     0
Social Support               0
Health (Life Expectancy)     1
Freedom (Life Choices)       0
Generosity                   0
Perceptions of Corruption    1
dtype: int64

In [89]:
# Check where the Health value is missing 
df_merged[df_merged['Health (Life Expectancy)'].isnull()]

,Country,Region,Year,Happiness Rank,Happiness Score,Economy (GDP per Capita),Social Support,Health (Life Expectancy),Freedom (Life Choices),Generosity,Perceptions of Corruption
98,State of Palestine,Middle East and North Africa,2023,99,4.908,1.144,1.309,NaN,0.416,0.065,0.067

In [91]:
# Drop the missing values
df_merged.dropna(inplace = True)

In [92]:
# Check that there are two rows that have been dropped
df_merged.shape

(895, 11)

## Duplicates:

In [93]:
# Check for duplicates
df_dup = df_merged[df_merged.duplicated()]

In [94]:
df_dup

Empty DataFrame
Columns: [Country, Region, Year, Happiness Rank, Happiness Score, Economy (GDP per Capita), Social Support, Health (Life Expectancy), Freedom (Life Choices), Generosity, Perceptions of Corruption]
Index: []

## Mixed-type Data:

In [97]:
# Check for mixed-type data
for col in df_merged.columns.tolist():
  weird = (df_merged[[col]].applymap(type) != df_merged[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_merged[weird]) > 0:
    print (col)

# 06. Export Data

In [98]:
df_merged.to_csv(os.path.join (path, '02 Data', 'Prepared Data', 'df_merged.csv'))